<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Stevens Scheduler</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="loading">
        Loading Pure Awesomeness...
    </div>
        
    <div id="app">
        <div class="left">
            <table>
                <thead>
                    <tr>
                        <td class="time"></td>
                        <td v-for="day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']" v-text="day"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="hour in [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
                        <td v-text="((hour - 1) % 12 + 1) + ':00'" class="time"></td>
                        <td v-for="day in ['M', 'T', 'W', 'R', 'F']" class="block">
                            <div class="wrapper">
                                <div v-for="subhour in [0, 15, 30, 45]">
                                    <div v-for="c in selected.concat(course)" @dblClick="click(c)" @mouseenter="hovering = c" @mouseleave="hovering = null" v-if="c && courseHere(day, hour, subhour, c)" 
                                        :class="{item: true, selected: c != course, hovering: hovering == c}" 
                                        :style="{height: hovering == c ? 'auto' : courseHere(day, hour, subhour, c).length * 100 + '%', minHeight: hovering != c ? 'auto' : courseHere(day, hour, subhour, c).length * 100 + '%'}">
                                        {{ c.section }}<br> {{ c.title }}<br> {{ c.instructor }}<br> {{ courseHere(day, hour, subhour, c).loc }}<br> {{ c.credits + ' credit' + (c.credits == 1 ? '' : 's') }} <br>{{ Math.max(0, (c.maxEnrollment - c.currentEnrollment)) + '/' + c.maxEnrollment }} seats open<br> {{ c.callNumber }}<br>
                                    </div>
                                </div>                                
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right">
            <span class="title">Term</span>
            <select v-model="term" @change="changedTerm">
                <option v-for="term in terms" :value="term" v-text="term.slice(0,4) + ' ' + ({F: 'Fall', S: 'Spring', A: 'Summer I', B: 'Summer II'})[term.slice(-1)] + ' (' + term + ')'"></option>
            </select>
            <div v-if="courses.length">
                <span class="title">Courses</span>
                <input v-model="search" placeholder="Search for a course...">
                <select size="25" v-model="course" @keyup.delete="course = ''" @keyup.esc="course = ''">
                    <option v-for="c in searchedCourses" :value="c" v-text="c.section + ': ' + c.title"></option>
                </select>
                <input v-model="closed" type="checkbox"> Closed
                
                <span v-if="course" class="hint">Press esc to cancel selection</span>
                
                <br><br>
                
                <span class="title">Total Credits:</span> {{ totalCredits }}<br><br>

                <div v-if="webclasses(selected.concat(course)).length">
                    <span class="title">Web Classes</span>
                    <div class="selectedList">
                        <div v-for="c in webclasses(selected.concat(course))" @dblClick="click(c)" :class="{selected: c != course }">
                            {{ c.section }}: {{ c.title }}<br> {{ c.instructor }}<br> {{ c.credits + ' credit' + (c.credits == 1 ? '' : 's') }} <br>{{ Math.max(0, (c.maxEnrollment - c.currentEnrollment)) + '/' + c.maxEnrollment }} seats open <br>{{ c.callNumber }}
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="loadingCourses">Loading Courses...</div>
            
            <br><br>
            
            * Open seats can take a couple hours to update and are not in realtime
            
            <div id="feedback"></div>
        </div>
        <div class="footer">
            <div v-if="localStorage" v-for="schedule in Object.keys(localStorage)" :class="{option: true, selected: currentstorage == schedule}" @click="load(schedule)">
                {{ schedule }}
            </div>
            <div v-if="selected.length" class="option floatRight" @click="clear">
                New
            </div>
            <div v-if="currentstorage" class="option floatRight" @click="deleteSchedule">
                Delete
            </div>
            <div v-if="currentstorage" class="option floatRight" @click="saveNew">
                Save as New
            </div>
            <div v-if="changed && currentstorage && selected.length" class="option floatRight" @click="discard">
                Discard Changes
            </div>
            <div v-if="(justLoaded || changed) && selected.length" class="option floatRight" @click="save">
                Save
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script src="./script.js" charset="utf-8"></script>
</body>

</html>
