/* style.css
This file contains all styles needed for the site to function
This file also contains colors for light mode, which are overritten by style_dark.css
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#loading {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #333;
}

#notes {
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 50px;
}

.footer {
    position: fixed;
    right: 300px;
    bottom: 0;
    left: 0;
    background: #eee;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .5);
    min-height: 25px;
}

.left {
    right: 300px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    bottom: 25px;
}

.rightWrapper {
    border-left: 1px solid gray;
    overflow: hidden;
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
    position: fixed;
}

.right {
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.right select {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.searchbar {
    width: 100%;
    margin-top: 5px;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    border-collapse: collapse;
    min-height: 800px;
    min-width: 500px;
    overflow: hidden;
}

table tbody td {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
}

table .time {
    width: 50px;
    background: #eee;
    text-align: center;
    font-weight: bold;
}

table thead tr {
    background: #eee;
    text-align: center;
    font-weight: bold;
    height: 25px;
}

table .block {
    vertical-align: top;
    position: relative;
}

table .block .wrapper {
    position: absolute;
    height: 100%;
    right: 0px;
    left: 2px;
}

table .block .wrapper>div {
    height: 25%;
    border-bottom: 1px dashed #ddd;
    width: 100%;
}

table .item {
    position: absolute;
    background: rgba(47, 130, 224, 0.4);
    z-index: 2;
    width: 99%;
    padding: 2px;
    overflow: hidden;
    font-size: 11px;
    border: 1px solid #000;
    cursor: pointer;
}

table .item.selected {
    background: rgba(47, 224, 82, 0.8);
    z-index: 1;
}

table .item.selected.hovering {
    background: rgba(222, 104, 73, 0.8);
    z-index: 3;
}

.selectedList {
    border: 1px solid #ccc;
    margin-top: 5px;
}

.selectedList div {
    background: rgba(47, 130, 224, .4);
    padding: 3px;
    margin: 3px;
    font-size: 11px;
    cursor: pointer;
}

.selectedList div.selected {
    background: rgba(47, 224, 82, .8);
}

.selectedList div.selected:hover {
    background: rgba(222, 104, 73, 0.8);
}

.footer .option {
    line-height: 17px;
    padding: 0 5px;
    background: #aaa;
    margin: 4px 2px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 11px;
}

.footer .option.selected {
    background: rgba(47, 224, 82, .8);
}

.footer .floatRight {
    float: right;
    display: inline-block;
}

#saves {
    float: left;
    position: relative;
}

.hint {
    float: right;
    font-size: 11px;
}

#heeduser_wb {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    background: #4a5e8c;
    width: 100%;
    text-align: center;
    line-height: 23px;
    margin-top: 20px;
}

.title {
    font-weight: bold;
}

.link {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

#heeduser_wb:hover {
    background: #ccc;
}

.export, .description {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    width: 100%;
}

.export .wrapper, .description .wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
}

.export .wrapper, .description .wrapper {
    top: 30px;
    margin-top: 0;
    height: auto;
}

.export input {
    width: 100%;
}

.export textarea {
    height: 200px;
    width: 100%;
}

#noSchedWrapper{
    padding-left: 50px;
    padding-top: 25px;
    height: 100%;
    width: 100%;
}

#noSchedAlign{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#noSched{
    width: 400px;
    text-align: center;
}

#switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  width: 14px;
  left: 2px;
  bottom: 2px;
  top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #333;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
