/* style_dark.css
Stylesheet for dark mode
This file only contains colors, which when loaded simply overwrite light mode
If you want to make a custom theme, this would be a good place to start
*/

body {
    background: #555555;
}

#loading {
    color: #f6f3e8;
}

* {
    color: #f6f3e8;
}

.footer {
    background: #555555;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, .5);
}

.right {
    background: #555555;
}

.left {
    background: #242424;
}

#weekTable>thead, #weekTable .time {
    color: #f6f3e8;
}

#weekTableHeadWrapper {
    border-bottom: 1px solid #f8f8f2;
}

table tbody tr {
    border-top: 1px solid #f8f8f2;
}

table tbody tr:first-child {
    border-top: 0px;
}

table tbody td {
    border-right: 1px solid #f8f8f2;
}

table .time {
    background: #656565;
}

#schedThead {
    background: #656565;
}

table .block .wrapper>div {
    border-bottom: 1px dashed #656565;
}

table .item {
    border: 1px solid #f8f8f2;
    color: #e7f6da;
}

.selectedList div, table .item {
    background: #2f82e0b5;
}



.autoLock{
    background-color: #555;
    border: 1px solid #f8f8f2;
}

.footer .option.selected, .selectedList div.selected, table .item.selected {
    background: #95e454b5;
}

table .item.selected.hovering, .selectedList div.selected:hover {
    background: #e5786db5;
}

.selectedList {
    border: 1px solid #ccc;
}

.footer .option {
    background: #757575;
}

.link {
    border-bottom: 2px solid grey;
}

.export, .description {
    background: rgba(0, 0, 0, .5);
}

.export .wrapper, .description .wrapper {
    background: #555555;
}

.export textarea, .export input, .right select:not(#termSelect), #searchBox, #selectBox>option, #notes, #nextButton {
    background: #f6f3e8;
    color: #242424;
}

/*
To fix the above for the dropdown - it renders ugly with a changed background
*/
#termSelect {
    color: #242424;
}

.title {
    color: #cae682;
}

#noSchedAlign{
    background-color: #555a;
}

#noSched{
    background-color: #242424;
}
